numpy==1.22
scipy
pandas
matplotlib
altair
tqdm
filelock
typer
sh
openpyxl
sentence-transformers
umap-learn -i https://mirrors.ustc.edu.cn/pypi/web/simple
hdbscan
seaborn
nltk
beautifulsoup4
lxml
joblib==1.1.0
